# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
.kcache/

# Build output
dist/
build/

# Environment files
.env
.env.*

# Docker
*.local
Dockerfile*
docker-compose*

# Editor directories and files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# Test coverage
coverage/

# Misc
*.tgz

